html,body {
	background-color: #eee;
}

body {
	padding-top: 40px;
}

.nav {
	padding-left: 60px;
}

.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

#content {
	min-height: 500px;
}

.secondary-content {
	min-height: 500px;
	margin-left: 0;
	padding-left: 19px;
	border-left: 1px solid #eee;
}

.lift_error {
	color: red;
	list-style: none;
	display: inline;
}

.edit_error_class {
	display: block;
	color: red;
}

.container>footer p {
	text-align: center;
}